<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Chat</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body onload="connect('chat')">

    <nav th:replace="fragments/general.html :: navbar" layout:fragment="navbar"></nav>

    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-primary" layout:fragment="mini-navbar">
        <div class="container">
            <div class="d-flex align-items-center">
                <span id="profile-picture">
                    <a href="#" id="profile-picture-anchor">
                        <img th:src="${contact.displayPictureUrl != null ? contact.displayPictureUrl :
                        'https://ping-me-resources.s3.us-east-2.amazonaws.com/dummy-profile-picture.jpg'}"
                             alt="icon" width="50" height="50">
                    </a>
                </span>
                <span th:text="${contact.fullName}" id="nav-contact-name"></span>
            </div>
        </div>
    </nav>

    <div class="container" id="message-container" layout:fragment="page-container">
        <span id="current-user-id" th:text="${user.id}" hidden></span>
        <span id="current-username" th:text="${user.username}" hidden></span>
        <span id="contact-id" th:text="${userContactId}" hidden></span>
        <div th:each="msg : ${messages}" th:unless="${msg.messageText.isEmpty()}">
            <div th:if="${msg.sender.equals(msg.userFullName)}" class="d-flex justify-content-end" id="host-nested-div">
                <div>
                    <div th:text="${msg.messageText}" class="message-text d-flex justify-content-start"></div>
                    <div th:text="${msg.messageTime + ' '}" class="message-time d-flex justify-content-end"></div>
                </div>
            </div>
            <div th:unless="${msg.sender.equals(msg.userFullName)}" class="d-flex justify-content-start" id="contact-nested-div">
                <div>
                    <div th:text="${msg.messageText}" class="message-text"></div>
                    <div th:text="${msg.messageTime + ' '}" class="message-time d-flex justify-content-end"></div>
                </div>
            </div>
        </div>
        <div id="chat-sub-div"></div>
    </div>

    <div class="footer-div" layout:fragment="page-footer">
        <div class="d-flex">
            <div class="flex-fill"></div>
            <div class="flex-fill" id="chat-form">
                <div class="input-group mb-3">
                    <input id="messageText" class="form-control" type="text" size="137">
                    <button type="submit" class="btn btn-primary" id="button-addon2" onclick="sendMessage();document.getElementById('messageText').value = ''">Send</button>
                </div>
            </div>
            <div class="flex-fill"></div>
        </div>
    </div>

</body>
</html>