<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Find Users</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body onload="findUserModalEvent();connect('connection');">

    <nav th:replace="fragments/general.html :: navbar" layout:fragment="navbar"></nav>

    <div class="container" layout:fragment="page-container">
        <div>
            <span id="current-user-id" th:text="${user.id}" hidden></span>
            <span id="current-username" th:text="${user.username}" hidden></span>
            <div id="contact-header" class="d-flex justify-content-start">
                <span><i class="fa fa-users icon" aria-hidden="true"></i> Find Users</span>
            </div>
            <form class="row" id="search-user-form" action="#" th:action="@{/user/search-user}" th:object="${searchDTO}" method="GET">
                <div class="col-6 d-flex align-items-center">
                    <span>
                        <i class="fa fa-search icon" aria-hidden="true"></i>
                    </span>
                    <input type="text" name="searchInput" id="search-users" class="form-control" placeholder="Search Users" th:field="*{searchInput}" required>
                </div>
                <div class="col-3">
                    <select name="searchCriteria" class="form-select" th:field="*{searchCriteria}">
                        <option selected value="">Search By...</option>
                        <option value="BY_NAME">Name</option>
                        <option value="BY_PHONE_NUMBER">Phone Number</option>
                        <option value="BY_USERNAME">Username</option>
                    </select>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary" id="search-user-button" type="submit">Search</button>
                </div>
            </form>

            <div th:each="user : ${users}" class="d-flex align-items-center justify-content-between" id="user-div">
                <span class="d-flex align-items-center">
                    <span id="profile-picture">
                        <a href="#" id="profile-picture-anchor">
                            <img th:src="@{https://ping-me-resources.s3.us-east-2.amazonaws.com/dummy-profile-picture.jpg}" alt="icon" width="50" height="50">
                        </a>
                    </span>
                    <span id="search-user-name" th:text="${user.fullName}"></span>
                </span>
                <a th:unless="${user.requestSent || user.contact}" class="btn btn-success" id="connect-user-button" th:attr="data-user-id=${user.id},data-user-name=${user.fullName}" data-bs-toggle="modal" href="#connectionModal">Connect</a>
                <span th:if="${user.requestSent}" id="request-sent">Request Sent</span>
            </div>

            <div class="modal fade" id="connectionModal" tabindex="-1" aria-labelledby="connectionModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Send Connection Request</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a id="proceed-button" class="btn btn-success" data-bs-dismiss="modal">Proceed</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>