<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Login</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>

    <nav th:replace="fragments/general.html :: login-navbar" layout:fragment="navbar"></nav>

    <div class="container" layout:fragment="page-container">
        <div class="row justify-content-center">
            <form action="#" th:action="@{/user/login}" method="post" class="col-md-6 col-lg-5">
                <h2 id="form-header">Login</h2>
                <div th:if="${param.error}" id="login-error">Invalid username and password.</div>
                <div th:if="${param.logout}" id="logout-success">You have been logged out.</div>
                <div th:unless="${param.error != null OR param.logout != null}" id="error-placeholder"></div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
                    <label class="form-check-label" for="remember-me">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="form-group" id="signup-link">
                    <span>Don't have an account? </span><label><a th:href="@{/user/signup}">Sign Up</a></label>
                </div>
            </form>
        </div>
    </div>
</body>
</html>