<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Profile</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body onload="connect('connection')">

    <nav th:replace="fragments/general.html :: navbar" layout:fragment="navbar"></nav>

    <div class="container" layout:fragment="page-container">
        <div>
            <div id="contact-header" class="d-flex justify-content-start">
                <span><i class="fa fa-user icon" aria-hidden="true"></i> Profile</span>
            </div>
            <div class="d-flex justify-content-center">
                <div id="picture">
                    <img th:src="@{https://ping-me-resources.s3.us-east-2.amazonaws.com/dummy-profile-picture.jpg}" alt="icon" width="130" height="130">
                </div>
            </div>
            <form class="row g-3 profile-legend">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" th:value="${user.firstName}">
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" th:value="${user.lastName}">
                </div>
                <div class="col-md-6">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" th:value="${user.username}">
                </div>
                <div class="col-md-6">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" th:value="${user.phoneNumberWithCountryCode}">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>