<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Sign Up</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>

    <nav th:replace="fragments/general.html :: signup-navbar" layout:fragment="navbar"></nav>

    <div class="container" layout:fragment="page-container">
        <div class="row justify-content-center">
            <form action="#" th:action="@{/user/signup}" th:object="${signupDTO}" method="post" class="col-md-6 col-lg-5">
                <h2 id="form-header">Sign Up</h2>
                <div id="success" th:if="${signupSuccess}" th:text="${successMessage}"></div>
                <div id="failure" th:if="${signupError != null}" th:text="${signupError}"></div>
                <div id="error-placeholder" th:unless="${signupSuccess == true OR signupError != null}"></div>
                <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" placeholder="First Name" th:field="*{firstName}" required>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" placeholder="Last Name" th:field="*{lastName}" required>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" placeholder="Password" th:field="*{confirmPassword}" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="form-group">
                    <span>Already have an account? </span><label><a th:href="@{/user/login}">Login</a></label>
                </div>
            </form>
        </div>
    </div>

</body>
</html>