body {
    font-family: 'Open Sans', sans-serif;
}

 #header {
    text-align: center;
}

.footer-div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

html, body, .container{
    height: 100%;
}

#send-button{
    width: 100%;
}

#message-row{
    height: 93%;
}

#message-column{
    max-height: inherit;
    margin-top: 10px;
}

#logout, #contact{
    font-size: 20px;
    margin-top: 10px;
}

#my-messages{
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

#contact-header{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

#success{
    color: green;
    margin-top: 10px;
}

 #failure{
    color: red;
    margin-top: 10px;
}