body {
    font-family: 'Open Sans', sans-serif;
}

 #header {
    text-align: center;
}

.footer-div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

html, body, .container{
    height: 100%;
}

.form-group{
    margin: 10px 0;
}

#form-header{
    margin: 10px 0;
}

.lead{
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
}

.lead a{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

#landing-nav{
    margin-bottom: 120px !important;
}

#search-div, #search-form{
    margin: 10px 0 20px 0;
    padding: 0 0;
    width: 100%;
}

#search-user-form{
    margin: 10px 0 20px 0;
}

#search-user-form > div:first-of-type{
    padding-left: 0px;
}

#search-user-form > div:last-of-type{
    padding-right: 0px;
}

#search-user-form > div:first-of-type span{
    position: absolute;
    margin-left: 5px;
}

#search-user-form > div:first-of-type input{
    height: 38px;
    padding: 10px 10px 10px 38px;
}

#search-user-button{
    width: 100%;
}

#contact-anchor{
    display: block;
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
    padding: 10px 10px 10px 0px;
}

#contact-div, #user-div{
    height: 70px;
    width: 100%;
    border: 1px solid #cfd1d4;
    color: black;
    border-radius: 10px;
    margin: 5px 0;
}

#contact-div:hover {
    background-color: #cfd1d4;
}

#profile-picture{
    display: inline-block;
    position: relative;
    height: 40px;
    width: 40px;
    border: 1px solid #cfd1d4;
    border-radius: 100%;
    margin: 0 10px;
    background-color: white;
    overflow: hidden;
}

#profile-picture img {
    width: auto;
    height: 100%;
}

#search-div i {
    position: absolute;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

#search-contacts {
    width: 100%;
    padding: 10px 10px 10px 30px;
}

#connect-user-button, #reject-request-button, #accept-request-button{
    margin: 0 15px;
}

#request-sent{
    color: green;
    font-style: italic;
    margin: 0 15px;
}

#hide{
    display: hidden;
}

.request-nav-anchor{
    padding: 4px 10px;
    position: relative;
    display: inline-block;
}

#request-badge {
    position: absolute;
    top: -9px;
    right: -7px;
    padding: 1px 4px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
    display: hidden;
}

#reveal {
    position: absolute;
    top: -9px;
    right: -7px;
    padding: 1px 4px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 12px;
}

.sender-name{
    font-size: 20px;
    font-weight: bold;
}

#host-nested-div{
    text-align: right;
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    border-radius: 10px;
    margin: 5px 0;
}

#nav-contact-name{
    color: white;
    font-weight: bold;
}

#contact-nested-div{
    text-align: left;
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    border-radius: 10px;
    margin: 5px 0;
}

#host-nested-div > div{
    width: auto;
    padding: 5px 10px 7px 10px;
    background-color: #ca0034;
    color: white;
    border-radius: 10px;
    min-width: 12%;
}

#contact-nested-div > div{
    width: auto;
    padding: 5px 10px 7px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    min-width: 12%;
}

#chat-sub-div{
    height: 7.5%;
}

.message-text{
}

.message-time{
    font-size: 10px;
}

#send-button{
    width: 100%;
}

#message-row{
    height: 93%;
}

#message-column{
    max-height: inherit;
    margin-top: 10px;
}

#logout, #contact{
    font-size: 20px;
    margin-top: 10px;
}

#picture{
    display: inline-block;
    position: relative;
    height: 130px;
    width: 130px;
    border: 1px solid #cfd1d4;
    border-radius: 100%;
    margin: 0 10px;
    background-color: white;
    overflow: hidden;
}

#picture img {
    width: auto;
    height: 100%;
}

#my-messages{
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

#contact-header{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#add-contact-header{
    color: #0d6efd;
    text-decoration: none;
    font-size: 17px;
}

.fa-plus{
    padding: 0 5px;
}

.profile-legend{
    margin-top: 20px;
}

#success, #logout-success{
    color: green;
    height: 24px;
}

#failure, #login-error{
    color: red;
    height: 24px;
}

#error-placeholder{
    height: 24px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}