<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
    <div class="container">
        <div class="row" id="message-row">
            <div class="col" id="logout">
                <div class="col"><label><a th:href="@{/logout}">Log out</a></label></div>
            </div>
            <div class="col-8" id="message-column">
                <div th:each="msg : ${messages}" th:unless="${msg.messageText.isEmpty()}" class="col-6">
                    <p>
                        <span th:text="${msg.messageTime + ' '}"></span>
                        <strong>
                            <span th:if="${msg.sender.equals(msg.username)}">You</span>
                            <span th:text="${msg.sender}" th:unless="${msg.sender.equals(msg.username)}"></span>
                        </strong>
                        <span th:text="${msg.messageText}"></span>
                    </p>
                </div>
                <div class="col"></div>
            </div>
            <div class="col" id="contact">
                <div class="col"><label><a th:href="@{/contact}">Contacts</a></label></div>
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            <footer class="col-8">
                <form action="#" th:action="@{/chat}" th:object="${newChat}" method="post" class="row g-3">
                    <div class="col-9">
                        <label for="messageText" class="form-label" hidden>Message Text:</label>
                        <input type="hidden" name="userContactId" id="user-contact-id" th:field="*{userContactId}">
                        <input id="messageText" class="form-control" type="text" th:field="*{messageText}">
                        <input type="hidden" name="username" th:field="*{username}">
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary" id="send-button">Send</button>
                    </div>
                </form>
            </footer>
            <div class="col"></div>
        </div>
    </div>

    <script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>