<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}">

    <title>Login</title>
</head>
<body>
<div class="jumbotron">
    <h1 class="display-4 justify-content-center">Page Not Found</h1>
    <p class="lead">This page does not exist. Kindly double check your url.</p>
</div>
</body>
</html>
