<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Ping Me!</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-black bg-light">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto" id="landing-nav">
            <div>
                <a class="float-md-start mb-0" th:href="@{/login}">
                    <img th:src="@{https://ping-me-resources.s3.us-east-2.amazonaws.com/ping-me-icon-1.png}" alt="icon" width="80" height="50">
                </a>
            </div>
        </header>

        <main class="px-3">
            <img th:src="@{https://ping-me-resources.s3.us-east-2.amazonaws.com/ping-me-icon-1.png}" alt="icon" width="220" height="170">
            <p class="lead">Explore the unlimited possibilities from being connected. Stay in touch and get in touch with your business, clients and people with Ping Me!</p>
            <p class="lead">
                <a th:href="@{/login}" class="btn btn-lg btn-outline-primary">Login</a>
                <a th:href="@{/signup}" class="btn btn-lg btn-outline-danger">Sign Up</a>
            </p>
        </main>

        <footer class="mt-auto text-black-50">
        </footer>
    </div>



</body>
</html>
