<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Requests</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    <script th:src="@{/js/script.js}"></script>
</head>
<body onload="requestsModalEvent();connect('connection');">

    <nav th:replace="fragments/general.html :: navbar" layout:fragment="navbar"></nav>

    <div class="container" layout:fragment="page-container">
        <div>
            <span id="current-user-id" th:text="${user.id}" hidden></span>
            <span id="current-username" th:text="${user.username}" hidden></span>
            <div id="contact-header" class="d-flex justify-content-start">
                <span><i class="fa fa-address-card icon" aria-hidden="true"></i> Requests</span>
            </div>

            <div th:each="request : ${requests}" class="d-flex align-items-center justify-content-between" id="user-div">
                <span class="d-flex align-items-center">
                    <span id="profile-picture">
                        <a href="#" id="profile-picture-anchor">
                            <img th:src="@{https://ping-me-resources.s3.us-east-2.amazonaws.com/dummy-profile-picture.jpg}" alt="icon" width="50" height="50">
                        </a>
                    </span>
                    <span id="search-user-name" th:text="${request.senderName}"></span>
                </span>
                <div>
                    <a class="btn btn-primary" id="reject-request-button" th:attr="data-request-id=${request.requestId},data-request-sender-name=${request.senderName}" data-bs-toggle="modal" href="#rejectRequestModal">Reject</a>
                    <a class="btn btn-success" id="accept-request-button" th:attr="data-request-id=${request.requestId},data-request-sender-name=${request.senderName}" data-bs-toggle="modal" href="#acceptRequestModal">Accept</a>
                </div>
            </div>

            <div class="modal fade" id="rejectRequestModal" tabindex="-1" aria-labelledby="rejectRequestModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Reject Request</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-success proceed-button" data-bs-dismiss="modal">Confirm</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="acceptRequestModal" tabindex="-1" aria-labelledby="acceptRequestModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Accept Request</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a class="btn btn-success proceed-button" data-bs-dismiss="modal">Confirm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>