<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <title>Contacts</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body onload="connect('connection')">

    <nav th:replace="fragments/general.html :: navbar" layout:fragment="navbar"></nav>

    <div class="container" layout:fragment="page-container">
        <div>
            <span id="current-user-id" th:text="${user.id}" hidden></span>
            <span id="current-username" th:text="${user.username}" hidden></span>
            <div id="contact-header" class="d-flex justify-content-between">
                <span><i class="fa fa-address-book icon" aria-hidden="true"></i> Contacts</span>
                <a th:href="@{/user/search}" id="add-contact-header" class="d-flex align-items-center">
                    <span><i class="fa fa-plus" aria-hidden="true"></i>Add Contact</span>
                </a>
            </div>
            <form id="search-form" action="#" th:action="@{/contact/search}" method="GET">
                <div class="form-group d-flex align-items-center" id="search-div">
                    <i class="fa fa-search icon" aria-hidden="true"></i>
                    <input type="text" class="form-control" name="search-contacts" id="search-contacts" size="40"
                           placeholder="Search Contacts" required>
                </div>
            </form>
            <div th:each="contact : ${contacts}" class="d-flex align-items-center" id="contact-div">
                <span id="profile-picture">
                    <a href="#" id="profile-picture-anchor">
                        <img th:src="${contact.displayPictureUrl != null ? contact.displayPictureUrl :
                    'https://ping-me-resources.s3.us-east-2.amazonaws.com/dummy-profile-picture.jpg'}" alt="icon" width="50" height="50">
                    </a>
                </span>
                <a th:href="@{/chat/{userContactId}(userContactId = ${contact.userContactId})}"
                   th:text="${contact.firstName + ' ' + contact.lastName}" id="contact-anchor" class="d-flex
                   align-items-center"></a>
            </div>
        </div>
    </div>
</body>
</html>